---
export const partial = true

import { PrismaClient } from "@prisma/client";
const prisma = new PrismaClient();

const category = new URL(Astro.request.url).searchParams.get("category");
const manufacturer = new URL(Astro.request.url).searchParams.get("manufacturer");
const lessPrice = new URL(Astro.request.url).searchParams.get("less-price");
const greaterPrice = new URL(Astro.request.url).searchParams.get("greater-price");

let products = await prisma.product.findMany({
  where: {
    ...(category ? { category } : {}),
    ...(manufacturer ? { manufacturer } : {}),
    ...(lessPrice || greaterPrice ? 
    { price: {
      ...(lessPrice ? { lt: parseFloat(lessPrice)} : {}), 
      ...(greaterPrice ? { gt: parseFloat(greaterPrice)} : {})}
    } : {}),
  },
})


---

{products.length > 0 ? products.map((product) =>
  {
    return (<li
    class="border text-card-foreground max-w-md bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl p-2"
    data-v0-t="card"
  >
    <div class="md:flex flex-col  h-full">
      <div class="md:flex-shrink-0 self-center">
        <img
          class="h-48 w-full object-cover md:h-full md:w-48 aspect-square"
          src={product.image}
          alt="Product Image"
          width="48"
          height="48"
        />
      </div>
      <div class="p-8 flex flex-col h-full justify-between">
        <div>
          <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">{product.manufacturer}</div>
          <h3 class="tracking-tight block mt-1 text-lg leading-tight font-medium text-black">{product.name}</h3>
          <p class="text-sm mt-2 text-gray-500">{product.category}</p>
        </div>
        <div class="flex justify-between">
          <span class="mt-2 text-red-500">${product.price}</span>
          <span class="mt-2  text-gray-500">{product.quantityInStock} remaining</span>
        </div>
      </div>
    </div>
  </li>
  )}) : <li>no products found...</li>}



